<app-memoization></app-memoization>

<!--<app-home [address]="address"></app-home>-->
<!--<button (click)="changePostcode()">CHANGE ADDRESS DATA</button>-->

<!--<app-transaction *ngFor="let transaction of transactions$ | async" [transaction]="transaction"></app-transaction>-->
<!--<app-transaction *ngFor="let transaction of transactions$ | async; trackBy: trackById" [transaction]="transaction"></app-transaction>-->
<!--<button (click)="fetchTransactions()">FETCH TRANSACTIONS</button>-->
<!--<button (click)="checkReferences()">CHECK REFERENCES</button>-->
